.brand-name{
  color: #ffff;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
}

.bannar-section{
  width: 100%;
  height: calc(70vh);
  background-image: url(../src/images/h1_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannar-about-us-link{
  color: white;
  text-decoration: none;

}

.bannar-about-us-link:hover{
  text-decoration: none;
  color: white;
}